<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User Profile</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
window.onload=function(){

document.getElementById("copyButton").addEventListener("click", function() {
  copyToClipboardMsg(document.getElementById("copyTarget"), "msg");
});


function copyToClipboardMsg(elem, msgElem) {
  var succeed = copyToClipboard(elem);
  var msg;
  if (!succeed) {
    msg = "Copy not supported or blocked.  Press Ctrl+c to copy."
  } else {
    msg = "Text copied to the clipboard."
  }
  if (typeof msgElem === "string") {
    msgElem = document.getElementById(msgElem);
  }
  msgElem.innerHTML = msg;
  setTimeout(function() {
    msgElem.innerHTML = "";
  }, 2000);
}

function copyToClipboard(elem) {
  // create hidden text element, if it doesn't already exist
  var targetId = "_hiddenCopyText_";
  var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
  var origSelectionStart, origSelectionEnd;
  if (isInput) {
    // can just use the original source element for the selection and copy
    target = elem;
    origSelectionStart = elem.selectionStart;
    origSelectionEnd = elem.selectionEnd;
  } else {
    // must use a temporary form element for the selection and copy
    target = document.getElementById(targetId);
    if (!target) {
      var target = document.createElement("textarea");
      target.style.position = "absolute";
      target.style.left = "-9999px";
      target.style.top = "0";
      target.id = targetId;
      document.body.appendChild(target);
    }
    target.textContent = elem.textContent;
  }
  // select the content
  var currentFocus = document.activeElement;
  target.focus();
  target.setSelectionRange(0, target.value.length);

  // copy the selection
  var succeed;
  try {
    succeed = document.execCommand("copy");
  } catch (e) {
    succeed = false;
  }
  // restore original focus
  if (currentFocus && typeof currentFocus.focus === "function") {
    currentFocus.focus();
  }

  if (isInput) {
    // restore prior selection
    elem.setSelectionRange(origSelectionStart, origSelectionEnd);
  } else {
    // clear temporary content
    target.textContent = "";
  }
  return succeed;
}
}
</script>
  
  <style type="text/css">
   body { background: #FFCC00 !important; } 
</style>

</head>
<body>

{{template "new-navbar" .}}

<div class="container maincontainerindex">
  <div class="row mt-5">
    <div class="col-sm"></div>
    <div class="col-sm shadow-lg">
    {{/* <img src="https://i.ibb.co/C8QV3cQ/tom-yum-nodots.png"> */}}
    <img src="assets/rs3.png">
    </div>
    <div class="col-sm"></div>
  </div>
</div>

<div class="container pb-5"></div> 
<div class="container bg-light ml-10 mr-10 rounded shadow-sm pt-1 pb-1 pl-4 mb-3 bg-white rounded">
<div class="container p-1">
<h3>Getting Started with Your API</h3>
</div></div>

<div class="container bg-light ml-10 mr-10 rounded shadow-sm pt-3 pb-1 pl-4 mb-3 bg-white rounded">

<div>Your API Key</div>


{{if .APIKey}}

<div class="form-group mt-2 mb-2"><input id="copyTarget" value={{.APIKey}}> <button id="copyButton" class="btn btn-dark text-justify">Copy</button>
</div>
    <p class="text-danger inline small">{{ .Data.apiKey}}</p>

    <h4>Instructions</h4>

<p>Create, update and delete your food items with us through the different menus.</p>
<h5>1. Please remember not to share your API key with anyone else.</h5>
<p>If you accidentally shared your API key, please log in at KV Food's main website > My Account</p>
<p>And then proceed to regenerate a new API key</p>
<h5>2. Set up Your Merchant Account</h5>
<p>Navigate to Merchant Setup at the top menu to update your brand's information</p>


<form method="post">

{{else}}
<form method="post">

<div class="form-group mt-2 mb-0"><input type="text" value="" name="apiKey" placeholder="Enter API key value here ..."> <button id="copyButton" class="btn btn-dark text-justify">Validate</button><br><br>
</div>
    <p class="text-danger inline small">{{ .Data.apiKey}}</p>

<h4>Instructions</h4>
<p>Please remember not to share your API key with anyone else.</p>
<h5>1. Head over to https://kvserver.sozoalvin.com</h5>
<p>Click Log in on the top level menu or sign up if you don't have an account with us</p>
<h5>2. Navigate to "Your Account"</h5>
<p>Click Log in on the top level menu</p>
<h5>3. Copy and Validate your API Key</h5>
<p>Crt+V (Windows) or Cmd+V (Mac) to paste in your API Key and click Validate</p>
<h5>4. Set up Your Merchant Account</h5>
<p>Navigate to Merchant Setup at the top menu to update your brand's information</p>




{{end}}

</form>

</div>
</div>

</body>
</html>